{% extends 'base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5 text-white">
  	 	<h2 class="font-weight-bold mt-3">Jelszó megváltoztatása</h2>
		<hr>
		<p>Elfelejtetted a jelszavadat? Írd be az e-mail címed, és email-ben elküldjük az új beállításához szükséges utasításokat.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-outline-light btn-lg px-5 btn_login" type="submit">Küldés</button>
        </form>
  	</div> 

{% endblock %}