{% extends 'base.html' %}

{% block content %}
    {% if  actual_page == "price_list_man"%}
        {% include 'Price_list_man.html' %}
    {% elif actual_page == "price_list_women" %}
        <div>
            {% block women %}
                {% include 'Price_list_women.html' %}
            {% endblock women %}
        </div>
    {% elif actual_page == "price_list_examination" %}
        <div>
            {% block examination %}
                {% include 'Price_list_examination.html' %}
            {% endblock examination %}
        </div>
    {% else %}
        <div>
            {% include 'Price_list_man.html' %}
        </div>
        <div>
            {% include 'Price_list_women.html' %}
        </div>
        <div>
            {% include 'Price_list_examination.html' %}
        </div>
    {% endif %}
{% endblock content %}  