{% load static %}

<div class="row">
    {% for price_data in price_datas %}
        {% if price_data.categori == 2 %}
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="pricing-table-3 basic">
                    <div class="pricing-table-header">      
                        <h4><strong>{{price_data.tittle}}</strong></h4>
                    </div>
                    <div class="price examination_price"><strong>{{price_data.price}} Ft</strong></div>
                    <div class="pricing-body">
                        <ul class="pricing-table-ul">
                            <p>{{price_data.barber_name}}</p>
                            <p style="display: none;">{{price_data}}</p>
                            {% for item in price_data.description %}
                                <li></i>{{item}}</li>
                            {% endfor %}
                        </ul><a href="{% url 'Booking' %}?hairdresser_id=2&categori_id={{price_data.id}}" class="view-more">Időpontfoglalás</a></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>