{% load static %}
<link rel="stylesheet" href="../static/style/reference_categories.css">
<div class="container-fluid reveal fade-bottom active" style="padding-left: 10%; padding-right: 10%; padding-top: 1vh;">
  <div class="row justify-content-around">
    <a href="/built_in_wardrobes/">
      <div class="col-lg-3 col-md-3 mb-3 col-6">
        <article class="card_reference">
          <img class="card_reference__background w-100 mb-2" src="../static/image/categories/beepitet.jpg" alt="Beépitett">
          <div class="card_reference__content | flow">
            <div class="">
              <h2 class="">Beépített szekrény</h2>
              <p class="card_reference__description">
              </p>
            </div>
            <button class="card_reference__button">Mutass többet</button>
          </div>
        </article>
      </div>
    </a>
    <a href="/kitchen/">
      <div class="col-lg-3 col-md-3 mb-3 col-6">
        <article class="card_reference">
          <img class="card_reference__background w-100 mb-2" src="../static/image/categories/konyha.jpg" alt="Konyha">
          <div class="card_reference__content | flow">
            <div class="">
              <h2 class="">Konyhabútor</h2>
              <p class="card_reference__description">
              </p>
            </div>
            <button class="card_reference__button">Mutass többet</button>
          </div>
        </article>
      </div>
    </a>
    <a href="/living_room/">
      <div class="col-lg-3 col-md-3 mb-3 col-6">
        <article class="card_reference">
          <img class="card_reference__background w-100 mb-2" src="../static/image/categories/napali.jpg" alt="Nappali">
          <div class="card_reference__content | flow">
            <div class="">
              <h2 class="">Nappali</h2>
              <p class="card_reference__description">
              </p>
            </div>
            <button class="card_reference__button">Mutass többet</button>
          </div>
        </article>
      </div>
    </a>
  </div>
</div>
