/*
#1795A8
#24AFC1
#FCCF47
#F8F8F8
*/
.logo{
    min-height: 50vh;
    max-height: 50vh;
    margin-top: 5vh;
	background-image: url(../image/bg/logo7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fast_icon{
    width: 50px;
    height: 50px;
    background-image: url(../image/icons/quick.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pricing_icon{
    width: 50px;
    height: 50px;
    background-image: url(../image/icons/pricing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.booking_hair{
    margin:1px 20px;
	display:block;
	text-align:center;
	background-color:#212121;
	padding:3px 0px;
	color:#FFF;
	width: 60%;
    margin: auto;
}

.home_video_and_informations_container{
	padding-left: 10%;
	padding-right: 10%;
	background-color: #17191b;
	min-height: 40rem;
}

.profil_image{
	width: 20%;
}

.description_text{
	width: 80%;
    margin: auto;
}
a:visited {
	/* color: #FFF; */
  }
.addres_and_info{
	background-color:#212121;
}
.info_text{
	color: white ;
}

.info_text, .icon{
	display:inline;
	vertical-align: top;
}

.info_box{
    height: 1vh;
	margin-bottom: 17px;
}
.h3{
	font-size: 2.4vh;
}

.bg_selection{
    min-height: 100vh;
    /*max-height: 50vh;*/
	background-image: linear-gradient(180deg, rgb(193 188 166 / 72%), #0a0e1a), url(../image/bg/main_bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-color: #21212173;
}
.bg_selection2{
    background-image: linear-gradient(1deg, rgb(255 255 255 / 15%), #0a0e1a), url(../image/gallery/top/krisztian_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-color: #21212173;
	min-height: 100vh;
	/**background-color: #21212173;**/
}
.information_and_video_container{
	/*background-image: url('../image/bg/3185113.jpg');
  	background-repeat: no-repeat;  
	background-size:cover;
	background-position:center;
	min-height: 30rem;*/
	min-height: 30rem;
    /*background-color: #1212118f;*/
}
.video_container{
    height: 50vh;
}
.main_info_box{
	color: #e9dede;
    height: 100%;
	/*background-image: url('../image/bg/black-textured-brick-wall-background.jpg');
	background-image: url('../image/bg/3185113.jpg');
  	background-repeat: no-repeat;  
	background-size:cover;
	background-position:center;
	background: linear-gradient(170deg, #334b55 70%, #fc4410 30%); */
}
.main_info_tittle{
	text-align: center;
	/* background-color: #1f2326eb;
	color: rgb(255, 252, 252);*/
	vertical-align: center;
	text-align: center;
	font-size:1.4rem;
}
/* .main_info_tittle h3{
	/* padding: 10px;
}*/
.main_info_text{
	padding: 3vh;
}


.animated-box {
	font-family: 'Lato';
	color: #000000;
	padding: 30px;
	text-align: center;
	border-radius: 4px;
  }
  
  
  /* The animation starts here */
 
  
  
@media (min-width: 992px){
	.main_info_container{
		max-height: 294px;
	}
}
.swiper-slide{
	background-color: #fff0;
}
.carousel-inner {
    background: #1110;
}

.hair_stylist{

    width: 80%;
    border-radius: 15px;
}
section {
	/*min-height: 100vh;*/
  }
  
  
  .reveal {
	position: relative;
	opacity: 0;
  }
  
  .reveal.active {
	opacity: 1;
  }
  .active.fade-bottom {
	animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
	animation: fade-left 1s ease-in;
  }
  .active.fade-right {
	animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
	0% {
	  transform: translateY(50px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes fade-left {
	0% {
	  transform: translateX(-100px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  @keyframes fade-right {
	0% {
	  transform: translateX(100px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }


